body{
    background-color: white;
}

.main-container{
    max-width: 250px;
    min-height:320px;
    margin: 0 auto;
    background-color: black;
    
}

.head-section{
    background-color: gray;
    display: flex;
    justify-content: center;
    margin-top:100px;
    
}


h1{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    padding:0;
    margin:0;
}



.top{
    display: flex;
}

.calculator-section{
    max-width:240px;
    min-height:320px;
    margin:0 auto;
    border: 1px solid gray;
}
.calculator-section input{
    width:100%;
    height: 40px;
    box-sizing: border-box;
    text-align: right;
}
.key-row{
    display: flex;
}
.keypad{
    font-family: Helvetica, sans-serif;
}

.key-row button{
    width:60px;
    height:60px;
    background-color: darkgray;
    color: white;

}


.operations{
    display: flex;
    flex-direction: column;
}


.operations button{
    width:60px;
    height:60px;
    background-color: #ff9500;
    color:white;
}
.zero{
    flex-basis: 120px;
}